* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  body {
      background-image: url("img/hacker.png");
      background-repeat: no-repeat, repeat;
      background-color: #2b2a2a;
      background-position: center;
      background-size: cover;
      position: relative;
  }
  
  body {
    font-family: 'Goldman';font-size: 22px;
  }
  
  nav {
    display: flex;
    width: 100%;
    padding: 10px;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
  
  }

  .navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    align-items: flex-end;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background: rgb(255, 254, 254);
    color: rgb(33, 39, 220);
  }

  .dropdown {
    text-align: flex-start;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }

  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flexbox;
  text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }


  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
  }

  #img1 {
    justify-content: flex-start;
  }

  #img2 {
    justify-content: flex-end;
  }

  #img3 {
    justify-content: flex-start;
  }

  #img4 {
    justify-content: flex-end;
  }

  .p1 {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
  }

  .p2 {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
  }

  .p3 {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
  }

  .p4 {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
  }

  h1 {
    color: aquamarine;
    
    margin-top: 100px;
    text-align: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }
  .tekst
  
  {
  font-size: 24px;  
  font-family: Verdana;
  list-style-type: none;
  
  }
  
  
  .tekst2
  
  {
  font-size: 24px;  
  font-family: Verdana;
  
  }
  
  h2 {
    font-size: xxx-large;
    text-align: center;
    color: white;
  }
  
  .p1 {
    font-weight: bold;
    font-family: "goldman", Times, serif;
    color: #00a8c7;
    
  }
  
  .p2 {
    font-weight: bold;
    font-family:"goldman", sans-serif;
    color: #00a8c7;
  }
  
  .p3 {
    font-weight: bold;
    font-family: "goldman", "Courier New", monospace;
    color: #00a8c7;
  }
  
  .p4 {
    float: left;
    font-weight: bold;
    font-family: "goldman", "Courier New", monospace;
    color: #00a8c7;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color:#00a8c7;
    color: white;
    text-align: center;
  }